---
---

/* CONFIGURATION */

/* Bodytext font */
$font: "Roboto", sans-serif;
$fontBaseSize: 16px;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

$colorLink: #464646;
$colorLinkHover: #808080;
$colorGray: #ccc;
$colorBtnPrimary: #275780;
$colorDarkBlue: #1A3C4E;

$sizeBorder: 1px;
$sizeGap: 1.5em;

$maxWidth: 1024px;

/* IMPORT CSS FILES */
@import "reset";
@import "base";
@import "syntax";
@import "header";
@import "footer";
@import "paginator";
@import "gallery";
@import "post-listing";
@import "aside";
@import "home";
@import "post";
