<aside id="about-me">
    <img src="/images/ed.jpg" alt="Photo of Eduard Fidiles">
    <h1>I'm Ed</h1>
    <p>and I freelance for individuals, startups, web agencies and large businesses.</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/efidiles" target="_blank">@efidiles</a></li>
        <li>LinkedIn: <a href="https://uk.linkedin.com/in/eduardfidiles" target="_blank">eduardfidiles</a></li>
    </ul>
    <small>Copyright © 2015 <a rel="author" href="http://fidil.es">Eduard Fidiles</a></small>
</aside>