<aside id="about-me">
    <img src="/images/ed.png" alt="Photo of Eduard Fidiles">
    <h1>I'm Ed</h1>
    <p>and I freelance for individuals, startups, web agencies and large businesses.</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/efidiles" target="_blank">@efidiles</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/efidiles" target="_blank">efidiles</a></li>
        <li>Github: <a href="https://github.com/efidiles" target="_blank">efidiles</a></li>
    </ul>
</aside>
