    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="main-header">
        <nav>
            <a href="#">
                Menu
            </a>
            <ul>
              <li>
                  <a href="http://uk.linkedin.com/in/efidiles" target="_blank">LinkedIn</a>
              </li>
              <li>
                  <a href="https://github.com/efidiles" target="_blank">GitHub</a>
              </li>
              <li>
                  <a href="/cv" target="_blank">CV</a>
              </li>
              <li>
                  <a href="/work"><span class="round">Work</a>
              </li>
              <li>
                  <a href="/"><span class="round">Home</a>
              </li>
            </ul>
        </nav>
        <strong>&lt;script&gt;</strong>
    </header>
