<nav class="paginator">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">‹ Newer</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">‹ Newer</a>
    {% endif %}
  {% else %}
    <a class="disabled">‹ Newer</a>
  {% endif %}
  {{ paginator.page }} out of {{ paginator.total_pages }}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
  {% else %}
    <a class="disabled">Older ›</a>
  {% endif %}
</nav>