<div class="post-listing">
    {% include _paginator.html %}
    <ul>
    {% for post in paginator.posts %}
        {% unless post.draft %}
            <li>
                <article>
                    <h1>
                        <small>
                            <a href="{{ post.url }}">
                                {% if post.tags contains 'work' %}
                                    Project: 
                                {% endif %}
                                {{ post.title }}
                            </a>
                        </small>
                    </h1>
                    Published: <time datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
                    <p>{{ post.excerpt}}</p>
                </article>
            </li>
        {% endunless %}
    {% endfor %}
    </ul>
    {% include _paginator.html %}
</div>