aside {
  padding: $sizeGap;
  border-top: 1px solid $colorGray;
  text-align: center;

  ul {
    @extend .list-clean;
    margin: $sizeGap 0;
  }

  li {
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  img {
    display: block;
  }

  aside {
    border: none;
    float: left;
    width: 13%;
    padding: $sizeGap;
    text-align: left;
  }
}
