html {
  font-family: $font;
  font-size: $fontBaseSize;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  padding: $sizeGap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
  display: inline-block;
}

h1,
h2,
h3 {
  margin-top: .65em;
  margin-bottom: .3em;
}

h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

h4,
h5,
h6 {
  margin-top: .3em;
  margin-bottom: .3em;
}

h4 small,
h5 small,
h6 small {
  font-size: 75%;
}

h1 {
  font-size: 2.438em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.625em;
}

h4 {
  font-size: 1.188em;
}

h5 {
  font-size: 0.938em;
}

h6 {
  font-size: 0.813em;
}

small,
.small {
  font-size: 86%;
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.5;
}

figure {
  margin: 0;
}

strong {
  font-weight: bold;
}

em {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

a {
  color: $colorLink;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus {
  color: $colorLinkHover;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a.disabled,
a.disabled:hover,
a.disabled:focus {
  pointer-events: none;
  color: $colorGray;
  pointer: cursor;
}

blockquote {
  font-style: italic;
  quotes: '"' '"';
  font-family: sans-serif;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: -0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.list-clean {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-horizontal {
  @extend .list-clean;

  @extend .clearfix;

  li {
    float: left;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
}

.btn-primary {
  background-image: linear-gradient(to bottom, #2d6291 0%, $colorDarkBlue 100%);
  background-repeat: repeat-x;
  color: #fff;
  border-top: 1px solid #284B73;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .clearfix-mq {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  body {
    background: #fff url("/images/pattern.jpg");
  }

  #main-header {
    border-bottom: 1px solid $colorGray;
  }

  body > div {
    @extend .clearfix-mq;

    max-width: $maxWidth;
    margin: 0 auto;
  }

  main {
    float: left;
    width: 75%;
    border-right: 1px solid $colorGray;
  }
}
