footer {
  padding: 0 $sizeGap $sizeGap;
  text-align: center;
}

footer strong {
  display: none;
}

@media screen and (min-width: 768px) {
  footer a {
    display: none;
  }

  footer {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 7em;
    border-top: 1px solid $colorGray;
    background: $colorDarkBlue;
    text-align: left;
  }

  footer strong {
    font-weight: bold;
    display: block;
    font-size: 10em;
    margin: 0 auto;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: -0.35em;
    margin-left: -10%;
    color: #fff;
  }
}
