#main-header strong,
#main-header ul {
  display: none;
}

#main-header ul {
  @extend .list-horizontal;

  li {
    display: block;
    float: none;
    margin: 0;
  }
}

#main-header a {
  @extend .btn-primary;

  display: block;
  padding: $sizeGap / 2;
  text-align: center;
  display: block;
  font-size: 1.4em;
}

#main-header nav.open ul,
.no-js #main-header nav ul {
  display: block;
}

@media screen and (min-width: 768px) {
  #main-header nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }

  #main-header nav > a {
    display: none;
  }

  #main-header strong {
    font-weight: bold;
    display: block;
    font-size: 9em;
    margin: -3px auto 0 auto;
    padding-left: 20px;
  }

  #main-header ul {
    background: $colorDarkBlue;
    background: rgba(26, 60, 78, 0.95);
    display: block;

    li {
      float: right;
    }
  }

  #main-header a {
    float: left;
    margin-left: 1em;
    background: none;
    border: none;
  }
}
