aside {
  padding: 0 $sizeGap $sizeGap;
  ul {
    @extend .list-clean;
    margin: $sizeGap 0;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  aside {
    float: left;
    width: 34%;
    padding: $sizeGap;
  }
}