/* CONFIGURATION */

/* Bodytext font */
$font: "Roboto", sans-serif;
$fontBaseSize: 16px;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

$colorLink: #2780e3;
$colorLinkHover: #165ba8;
$colorGray: #ccc;
$colorBtnPrimary: #275780;
$colorDarkBlue: #316591;

$sizeBorder: 1px;
$sizeGap: 1.5em;

$maxWidth: 960px;

/* IMPORT CSS FILES */
@import "base";
@import "syntax";
@import "header";
@import "footer";
@import "paginator";
@import "post-listing";
@import "aside";
@import "home";
@import "post";